*~
.idea
*.gem
*.rbc
.env

## Elixir/Phoenix
_build
/deps
/doc
tmp
*.dump
erl_crash.dump
*.ez
*.beam
*.tar


# The config/prod.secret.exs file by default contains sensitive
# data and you should not commit it into version control.
#
# Alternatively, you may comment the line below and commit the
# secrets file as long as you replace its contents by environment
# variables.
/config/prod.secret.exs
